<h1>{{ title }}</h1>

<!-- form group
<form action="" [formGroup]="fGroup">
  <app-input
    class="row"
    [fromGroup]="fGroup"
    [controlKey]="'fName'"
    [lable]="'First Name'"
  ></app-input>
  <app-input
    [fromGroup]="fGroup"
    class="row"
    [controlKey]="'lName'"
    [lable]="'Last Name'"
  ></app-input>
  <button
    color="primary"
    mat-flat-button
    [disabled]="fGroup.invalid"
    (click)="gOnclick()"
  >
    Submit
  </button>

  {{ fGroup.value | json }}
  <hr />

  Address
  <div formGroupName="address">
    <app-input
      class="row"
      [fromGroup]="fGroup"
      [fromGroupName]="'address'"
      [controlKey]="'street'"
      [lable]="'Street'"
    ></app-input>
    <app-input
      class="row"
      [fromGroupName]="'address'"
      [fromGroup]="fGroup"
      [controlKey]="'city'"
      [lable]="'city'"
    ></app-input>
    <app-input
      class="row"
      [fromGroupName]="'address'"
      [fromGroup]="fGroup"
      [controlKey]="'state'"
      [lable]="'State'"
    ></app-input>
    <app-input
      class="row"
      [fromGroupName]="'address'"
      [fromGroup]="fGroup"
      [controlKey]="'zip'"
      [lable]="'Zip Code'"
    ></app-input>
  </div>
</form> -->

Form Builder
<hr />
<form action="" [formGroup]="dFGroup">
  <app-input
    class="row"
    [fromGroup]="dFGroup"
    [controlKey]="'fName'"
    [lable]="'First Name'"
  ></app-input>
  <app-input
    [fromGroup]="dFGroup"
    class="row"
    [controlKey]="'lName'"
    [lable]="'Last Name'"
  ></app-input>

  Address
  <div formGroupName="address">
    <app-input
      class="row"
      [fromGroup]="dFGroup"
      [controlKey]="'street'"
      [lable]="'Street'"
    ></app-input>
    <app-input
      class="row"
      [fromGroup]="dFGroup"
      [controlKey]="'city'"
      [lable]="'city'"
    ></app-input>
    <app-input
      class="row"
      [fromGroup]="dFGroup"
      [controlKey]="'state'"
      [lable]="'State'"
    ></app-input>
    <app-input
      class="row"
      [fromGroup]="dFGroup"
      [controlKey]="'zip'"
      [lable]="'Zip Code'"
    ></app-input>
  </div>

  <div formArrayName="aliases">
    <button
      color="primary"
      mat-flat-button
      [disabled]="fGroup.invalid"
      (click)="addAlias()"
    >
      Add Aliases
    </button>

    <app-input
      *ngFor="let item of aliases.controls; let i = index"
      class="row"
      [fromGroup]="dFGroup"
      [controlKey]="i"
      [lable]="'Aliases'"
    ></app-input>
  </div>

  <button
    color="primary"
    mat-flat-button
    [disabled]="dFGroup.invalid"
    (click)="gOnclick()"
  >
    Submit
  </button>

  {{ dFGroup.value | json }}
  <hr />
</form>
